body { 
    font-family: 'Montserrat', sans-serif; 
    background: linear-gradient(135deg, #be0202 100%, #802222 100%);
}
.contact-card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 1;
}
.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}